<div class="background h-screen flex justify-center items-center">
  <div class="card relative rounded-xl lg:w-96 sm:w-72 , bg-gray-700 p-10 shadow-2xl">
    <p class="text-green-400 font-semibold text-center pb-6">ADVICE #{{ adviceId }}</p>
    <h1 class="text-white font-bold text-center pb-8">{{ adviceText }}</h1>
    <img class="" src="../assets/pattern-divider-desktop.svg" alt="">
    <button class="fixed mt-5 sm:ml-[82px] lg:ml-[130px] bg-green-400 w-[45px] h-[45px] rounded-3xl flex items-center justify-center" (click)="getRandomAdvice()"><img class="w-6 h-6" src="../assets/icon-dice.svg" alt=""></button>
  </div>
</div>